<h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <h3>入力した内容にエラーが1件あります</h3>
  <% end %>
<%= form_with model:@book, local:true do |f| %>
  <div class="actions">
    <label for="book_title">Title</label>
    <%= f.text_field :title, class: "book_title" %>
  </div>
  <div class="actions">
    <label for="book_body">Body</label>
    <%= f.text_area :body, class: "book_body" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Book"%>
  </div>
  <%= link_to "Show", book_path(@book)%>
  <span>|</span>
  <%= link_to "Back", books_path%>
<% end %>

